<style>
    
    body{
        margin: 0px;
        padding: 0px;
    }

    #main{
        width: 100%;
        height: 100px;
        border: 1px solid black;
        background-color: #303030;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #BABABA;
    }

    #sub1{
        width: 100%;
        height: 2000px;
        left: 0px;
        right: 0px;
        top: 103px;
        background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
        border: 1px solid #BABABA;

    }

    #menu{
        display: flex;
        width: 50%;
        justify-content: space-around;
        align-items: center;
        margin-left: 3%;
    }
    
    a{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: white;
    }

    a:hover{
        color: rgba(87, 87, 87, 0.226);
    }
        
    .noUnderLine{
        text-decoration: none;
    }

    .buttonLogin{
        margin-top: 2%;
        margin-right: 5%;
        border: 0px;
        width: 80px;
        height: 40px;
        left: 1245px;
        top: 31px;
        background: #0C70F2;
        box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
        cursor: pointer;
    }
    
    #loginText{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;        
        color: #FFFFFF;
    }

    /* CABEÇALHO */
        
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section .invert{
        background-color: black;
        font-weight: bold;
        padding: 2px;
    }

    #subTitle{
        width: 1018px;
        height: 200px;
        left: 210px;
        top: 0px;
        margin-top: 1020px;
        text-transform: uppercase;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 80px;
        line-height: 97px;
        text-align: center;
        color: #FFFFFF;
    }

    #subText{
        width: 1018px;
        height: 200px;
        left: 210px;
        top: 500px;

        margin-top: -145px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
    }

    #formGroupTitle{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
    }
    
    /* FORMULÁRIO */

    form{
        width: 650px;

        color: white;
        font-family: 'Inter';
         
        margin-top: 200px;
        margin-bottom: 1500px;
    }

    .formGroup{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        }

    .formGroup label input{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .formGroupCheck{
        margin-top: 30px;
    }

    .formGroupTitle{
        margin-top: 2px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        text-align: left;
        color: #FFFFFF;
    }

    .checkBoxItens{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .checkboxBox{
        margin-top: 2px;
        margin-bottom: 8px;
        width: 20px;
        height: 22px;
        left: 403px;
        top: 999px;
        background: #FFFFFF;
        border: 5px solid #CCCCCC; 
    }

    .checkBoxNome{
        width: 122px;
        height: 30px;
        left: 437px;
        top: 100px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 25px;
        color: #FFFFFF;
    }

    c{
        width: 100%;
        height: 56px;
        top: 20px;
        background: white;
        border-radius: 10px;
    }

    input[type="text"]{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 630px;
        font-size: 20px;
        color: rgba(57, 57, 57, 0.5);

        width: 90%;
        margin-top: 15px;
        margin-left: 2%;
        border: none;  
    }

    input::placeholder{
        background: rgba(255, 255, 255, 0.9);
    }

    input[type="submit"]{
        background-color: rgb(12, 112, 242, 0.9);

        width: 100%;
        height: 56px;

        font-size: 32px;
        color: white;

        margin-top: 80px;

        box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
        border-radius: 10px;
    }

    /* Footer */

    footer{
        width: 100%;
        left: 0px;
        background: #0C70F2;
    }

    footer .line1{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    footer nav{
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 500px;
    }

    footer h5{
        text-align: center;
        color: white;
        font-weight: 800;
        font-size: 25px;
        font-family: 'Inter';

        background-color: black;
        border-radius: 10px;

        padding: 10px 15px 10px 15px;

        margin-bottom: 15px;
    }

    footer ul li{
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 25px;
        font-family: 'Inter';

        margin: 20px 0px 20px 0px;
    }

    footer ul li a{
        color: white;
        text-decoration: none;
    }

    footer ul li a:hover{
        color: gray;
    }

    footer .address{
        font-weight: 600;
        font-size: 20px;
        font-family: 'Inter';
        color: white;
        text-align: center;

        width: 25%;
    }

    footer .line2{
        display: flex;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        margin-bottom: 10px;
    }

    footer .line2 a{
        font-family: 'Inter';
        font-size: 30px;
        font-weight: 600;
        color: white;
        text-decoration: none;
        padding: 10px;
    }

    footer .line2 a:first-child{
        border-right: 2px solid white;
    }

    footer .line2 a:hover{
        color: gray;
    }

@media only screen and (max-width: 600px) {

    #main{
        flex-direction: column;
        height: auto;
    }

    #menu{
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }

    #menu a{
        display: flex;
        align-items: center;
        height: 50px;
    }

    #main button{
        width: 100%;
        margin-right: 0%;
    }

    #section h1{
        font-size: 38px;
    }

    #section h2{
        font-size: 20px;
        padding-right: 15px;
        padding-left: 15px;
    }

    #form{
        width: 95%;
        font-size: 20px;
    }

    .checkBoxItens label{
        font-size: 15px;
    }
}

</style>