<style>
    
    body{
        margin: 0px;
        padding: 0px;
    }

    #main{
        width: 100%;
        height: 100px;
        border: 1px solid black;
        background-color: #303030;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #BABABA;
    }

    #sub1{
        width: 100%;
        height: 2000px;
        left: 0px;
        right: 0px;
        top: 103px;
        background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
        border: 1px solid #BABABA;

    }

    #menu{
        display: flex;
        width: 50%;
        justify-content: space-around;
        align-items: center;
        margin-left: 3%;
    }
    
    a{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: white;
    }

    a:hover{
        color: rgba(87, 87, 87, 0.226);
    }
        
    .noUnderLine{
        text-decoration: none;
    }

    .buttonLogin{
        margin-top: 2%;
        margin-right: 5%;
        border: 0px;
        width: 80px;
        height: 40px;
        left: 1245px;
        top: 31px;
        background: #0C70F2;
        box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
        cursor: pointer;
    }
    
    #loginText{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;        
        color: #FFFFFF;
    }

    /* CABEÇALHO */

    #subTitle{
        margin-top: -1050px;
        text-transform: uppercase;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 80px;
        line-height: 97px;
        text-align: center;
        color: #FFFFFF;
    }
    
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section .invert{
        background-color: black;
        font-weight: bold;
        padding: 2px;
    }

    #subText{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
    }

    #formGroupTitle{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
    }
    
    /* FORMULÁRIO */

    form{
        color: white;
        font-family: 'Inter';
        margin-top: -500px;
        margin-bottom: 0px;
    }

    .formGroup{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        }

    .formGroupTitle{
        margin-top: 2px;
        margin-bottom: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        text-align: left;
        color: #FFFFFF;
    }

    .checkboxBox{
        margin-top: 8px;
        margin-bottom: 29px;
        width: 20px;
        height: 22px;
        left: 403px;
        top: 999px; 
        background: #FFFFFF;
        border: 5px solid #CCCCCC; 
    }

    .checkBoxNome{
        width: 122px;
        height: 30px;
        left: 437px;
        top: 995px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        text-align: center;

        color: #FFFFFF;

    }

    c{
        width: 630px;
        height: 56px;
        top: 860px;

        background: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
    }

    ::placeholder{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 630px;
        font-size: 20px;

        color: rgba(57, 57, 57, 0.5);

    }

</style>